.div{
    height: 150px;
    width: 300px;
    background-color: gray;
    border: 5px dotted black;
    margin: 20px 1em 40px 2em;
    padding: 1em;

}
section .item{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 100%;
    display: inline-block;

}
.list ul li{
    /* list-style: none; */
    text-transform: capitalize;
    color: black;
    font-size: 18px;
    display: inline-block;
    list-style-type: disc;

    margin-right: 15px;

}